.user_card_container {
    h2 {
        margin-top: 2rem;
        text-align: center;
    }
    .filter_wrap {
        display: flex;
        justify-content: space-evenly;
        margin: 2rem 0;
    }
    select {
        background-color: #fff;
        padding: 0.3rem 2rem;
        border: none;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
}

// screen ratio 16:9
@media only screen and (max-width: 768px) {
    .filter_wrap {
        display: flex;
        margin: 2rem 0;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .user_card_container {
        select {
            width: 100%;
            margin: 0.5rem 0;
        }
    }
}